body{
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.modal-wrap{
	position:fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.8);
	z-index: 99;
	overflow: hidden;
	height: 100%;
}
.modal-unable-login{
	width: 300px;
	height:235px;
	margin:0 auto;
	border:1px solid #cbcbcb;
	border-radius:5px;
	box-shadow:0 0 15px 0 rgba(0,0,0,.3);
	margin-top: 80px;
	background-color: #FFF;
	padding-top:25px;
	position: relative;
}
.modal-unable-login h1{
	height: 18px;
	line-height: 18px;
	text-align: center;
	font-size: 16px;
	color: #787878;
}
.modal-unable-login h2{
	height: 14px;
	line-height: 14px;
	text-align: center;
	font-size: 14px;
	color: #787878;
	font-weight:normal;
}
.blue-button{
	background-color: #0077d9;
	border: 0;
	border-radius: 3px;
	outline:none;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
}
.blue-button:hover,.blue-button:active{
	background-color: #0070cd;
}
.modal-unable-login .reset-passwd{
	width: 165px;
	height: 34px;
	padding: 10px 0;
	line-height: 14px;
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 50px;
}
.modal-unable-login .sms-login{
	width: 165px;
	height: 34px;
	padding: 10px 0;
	line-height: 14px;
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 20px;
}
.input-wrap{
	margin-top: 50px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	width: 300px;
}
#email-for-reset{
	border:0;
	outline: 0;
	font-size: 14px;
	width: 284px;
	height:18px;
	padding:15px 8px;
}
.send-email{
	width: 165px;
	height: 34px;
	padding: 10px 0;
	line-height: 14px;
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 20px;
}
#modal-email-error{
	color:#c33;
	position:absolute;
	top:15px;
	right:4px;
	font-size: 12px;
	display: none;
}
.modal-icon{
	width: 16px;
	height: 16px;
	opacity: .2;
	position: absolute;
	background-image:url('/img/sign.png'); 
}
.modal-icon:hover{
	opacity: .3;
}
.modal-close{
	top:5px;
	right:5px;
	background-position: -37px -76px;
}
.modal-back{
	top:5px;
	left:5px;
	background-position: -19px -76px;
}
